.window {
	font-family: Verdana;
	color: #000; 
	overflow-y: scroll;
}
.window-inner{
	background: #fff;
	background: -moz-linear-gradient(#fff, #ddd);
	background: -webkit-linear-gradient(#fff, #ddd);
	background: -o-linear-gradient(#fff, #ddd);
	background: linear-gradient(#fff, #ddd);
	border-radius: 8px;
	-webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #aaa;
    padding: 30px;
    text-shadow: 0 1px 0 #FFFFFF;
	margin: 20px auto;
	position: relative;
}
.window-close {
	width: 30px; height: 30px;
	position: absolute; top: 0px; right: 0px;
	cursor: pointer;
}
.window-close:after {
	content: 'X';
	font-size: 16px;
	display: block;
	position: absolute;
	right: -14px;
	top: -14px;
	width: 1.5em;
	padding: 1px 1px 1px 2px;
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	font-weight: bold;
	background: #000;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	cursor: pointer;
}
.window-title {
	font-size: 32px;
	color: #888888;
	line-height: 40px;
	margin-bottom: 20px;
	display: block;
}
.window-title.center {
	text-align: center;
}
.window-text {
	text-align: center;
}
.window-text.left {
	text-align: left;
}
.window-form-title {
	font-size: 32px;
	color: #888888;
	line-height: 40px;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}
.window-form {
	margin: 0 auto;
	display: block;
	text-align: center;
}
.window-form.left {
	text-align: left;
}
.window-form.width1{
	width: 70%;
}
.window-form INPUT {
	font-size: 20px;
	font-family: Tahoma;
	width: 100%;
	background: transparent;
	border: 1px solid #cbcbcb; padding: 0 0px 0 10px;
}
.window-form TEXTAREA{
	font-size: 16px;
	font-family: Tahoma;
	width: 100%;
	background: transparent;
	border: 1px solid #cbcbcb; padding: 0 0px 0 10px;
}
.window-form INPUT:focus, .window-form TEXTAREA:focus{
	background: #fff;
}
.window-form BUTTON{
	padding: 5px 20px; margin: 10px 0px;
} 
.window-form-captcha {
	margin: 3px 0;
}
.window-form-captcha-img {
	cursor: pointer;
}
.window-form-article {
	font-size: 13px;
	display: block;
	margin: 5px 0 3px 0;
	text-align: left;
	color: #666666;
}
.window-form-article-primary {
	color: #f33;
}
.window-form a:link, .window-form a:active, .window-form a:visited {
	color: #777;
	text-decoration: none;
}
.window-form a:hover {
	text-decoration: underline;
}