@import "vars"

/*==========  Desktop First  ==========*/



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .welcome
    .h1
      font-size: 40px

  .s
    &-glass, &-review, &-partners
      padding: 10% 0
    &-call
      background-size: cover

  .fotorama
    margin-top: 16px

  .my2
    width: 100%
    left: 0px
  #lala
    top: 116px
    iframe
      height: 286px

  .header-composition
    p
      margin-top: -13px
      font-size: 17px

  .video-1
    iframe
      width: 100%
      height: 250px
      padding:  20px

  .videos
    .owl-nav
      > button
        top: 85px
        &.owl-prev
          left: -60px
        &.owl-next
          right: -60px

  .front
    .btnflip
      position: relative
      top: 10px

  #preloader
    .my
      top: 40%
      left: 46.3%
      &::before
        font-size: 85px

  .content-karta-master
    .btnflip-item
      top: -10px

  .container-karta-stock
    p
      font-size: 16px

  .container-karta-stock
    .btnflip-item
      top: -13px

  .container-karta-info
    p
      font-size: 16px

  .container-karta-info
    .btnflip-item 
      top: 40px


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .welcome
    .h1
      font-size: 32px
  .header-composition
    p
      margin-top: -7px
      font-size: 14.5px
  #my-header
    .site-header
      background-image: url("../img/logo3.jpg")

  .s-call
    &::before
      width: 100%

  .my2
    left: 170px
    width: 80%

  .my2::before
    margin: auto

  .video-1
    iframe
      width: 100%
      height: 380px
      padding:  20px

  .videos
    .owl-nav
      > button
        top: 158px

  .map
    opacity: inherit

  .front
    .btnflip
      position: relative
      top: 20px

  #preloader
    .my
      top: 41%
      left: 46%
      &::before
        font-size: 78px

  .content-karta-index 
    height: 450px

  .footer-menu
    ul
      display: none

  .my::before
    margin-top: -40px

  .btnflip-item
    top: -6px

  .content-karta-remont
    .btnflip_remont
      .btnflip-item
        top: 32px

  .content-karta-remont
    .karta-list
      font-size: 15px

  .container-karta-stock
    p
      margin-top: -20px

  .container-karta-stock
    .btnflip-item
      top: -18px

  .container-karta-info 
    min-height: 525px

  .container-karta-info
    .btnflip-item
      top: 0

  .header-menu
    display: block

  .karta-list-index
    font-size: 17px


@media only screen and (max-width : 865px)
  .portfolio .portfolio__col
    padding: 10px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .header-contacts
    .phone-h
      text-align: left
  .welcome
    .h1
      font-size: 30px

  .welcome_gal
    p 
      span
        margin: 0 65px 0 0

  #my-header
    .site-header
      background-image: url("../img/logo4.jpg")

  .quotes
    &::after, &::before
      display: none
  .my2
    left: -11px
    width: 82%
    bottom: 152px


  .my2::before
    font-size: 21vw
    padding: 0 20px
    text-align: center

  .s-glass
    p

      margin-bottom: 40px
      position: relative
      top: 22px
    ul
      margin-top: 0px
      position: relative
      right: 20px

  .header-composition
    p
      margin-top: -10px
      font-size: 13.5px

  .content-karta-index
    height: 471px

  .video-1
    iframe
      width: 100%
      height: 400px
      padding: 30px
      position: relative
      bottom: 30px

  .accordion
    ul
      li
        div
          a
            h2
              font-size: 16px
            p
              font-size: 11.5px

  .videos
    .owl-nav
      > button
        top: 140px
        &.owl-prev
          left: -10px
        &.owl-next
          right: -10px

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot
    font-size: 30px

  .front
    .btnflip
      position: relative
      top: 15px
  .btnflip-item
    font-size: 10px
    
  #preloader
    .my
      top: 42%
      left: 45%
      &::before
        font-size: 75px

  .portfolio .portfolio__col
    flex-basis: 50%
    padding: 20px

  .welcome
    margin-bottom: 30px

  .content-karta-remont
    .karta-list
      font-size: 15px

  .content-karta-remont
    .btnflip_remont
      .btnflip-item
        top: 0    

  .container-karta-stock
    p
      margin-top: -20px

  .container-karta-stock
    .btnflip-item
      top: -18px

  .header-composition-info
    width: 380px

  .container-karta-info
    p
      font-size: 14.5px  

/* Extra Small Devices, Phones */
@media only screen and (max-width : 630px)

  #preloader
    .my
      top: 43%
      left: 44%
      &::before
        font-size: 70px

@media only screen and (max-width : 565px)
  .portfolio .portfolio__col
    flex-basis: 100%

  .header-composition-info
    width: 350px

  .container-karta-info 
    p
      font-size: 13.5px
      margin-top: 10px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .footer-column
    padding: 15px 15px

  .footer-header
    margin-left: 20px

  .map
    opacity: inherit

  .welcome
    .h1
      font-size: 28px

    p
      span
        font-size: 12px
        margin: 0 -45px
    strong
      font-size: 12px
  .h1-master
    padding: 0 50px

  .button
    font-size: 9px
    padding: 10px 17px
  .phone
    font-size: 14px
    display: none
  .header-composition
    p
      margin-top: 2px
      font-size: 12px

  .phone
    .fa
      font-size: 16px
  .logo
    img
      width: 100px

  #my-header
    .site-header
      background-image: url("../img/logo2.jpg")

  .fotorama__nav
    &-wrap
      position: absolute
      bottom: 0
      padding: 0 30px
      width: 100%
  section
    .h2
      font-size: 19px
      span
        font-size: 19px

  .s-glass
    p
      font-size: 16px
      margin-top: 56px
      position: relative
      top: 9px

  .btnflip
    width: 40%

  .my::before
    font-size: 110px
    margin-top: 12px

  .my2::before
    font-size: 30vw
    padding: 0 20px
    text-align: center
    margin-left: -242px

  .font-logo
    top: -59px

  .my2
    left: 77px
    width: 14%
    bottom: 157px
    margin: auto

  .s-glass
    ul
      top: -20px
      position: relative
      right: 20px

  .video-1

    iframe
      width: 100%
      height: 278px

  .accordion
    ul
      li:nth-child(1)
        background-image: url('../img/fotos/big/foto1.jpg')
      li:nth-child(2)
        background-image: url('../img/fotos/big/foto2.jpg')
      li:nth-child(3)
        background-image: url('../img/fotos/big/foto3.jpg')
      li:nth-child(4)
        background-image: url('../img/fotos/foto4.jpg')
      li:nth-child(5)
        background-image: url('../img/fotos/big/foto5.jpg')
      li:nth-child(6)
        background-image: url('../img/fotos/big/foto6.jpg')
  .accordion
    ul
      li
        div
          a
            h2
              font-size: 14px
            p
              font-size: 9px


  .videos
    .owl-nav
      > button
        top: 75px
        &.owl-prev
          left: -12px
        &.owl-next
          right: -12px

  .front
    .btnflip
      position: relative
      top: 65px

  #preloader
    .my
      top: 41%
      left: 43%
      &::before
        font-size: 70px

  .content-karta-index
    height: 400px
    font-size: 15px

  .my::before
    margin-top: -16px

  .btnflip-item 
    top: -25px

  .button-start 
    margin-top: 40px

  .content-karta-master
    .btnflip-item
      top: -63px

  .content-karta-remont
    .karta-list
      font-size: 12px

  .content-karta-remont
    .btnflip_remont
      .btnflip-item
        top: -50px

  .container-karta-stock
    .btnflip-item
      top: -60px

  .header-composition-info
    width: auto

  .container-karta-info
    p
      margin-top: 20px

  .container-karta-info
    .btnflip-item 
      top: 0

  .welcome_info
    margin-bottom: 13px
    margin-top: 50px

  .welcome_info
    .h1
      font-size: 24px

  .container-karta-info 
    min-height: 500px

  .karta-list-index
    font-size: 16px  


@media only screen and (max-width : 448px)
  .btnflip-item
    top: -50px
/* Custom, iPhone Retina */
@media only screen and (max-width : 432px)
  .front
    .btnflip
      position: relative
      top: 40px
  .btnflip-item
    top: -25px
      
  .content-karta-master
    .btnflip-item
      top: -40px

  .content-karta-remont
    .btnflip_remont
      .btnflip-item
        top: -25px

  .container-karta-stock
    .btnflip-item
      top: -34px

  .container-karta-info
    .btnflip-item
      top: 30px

/* Custom, iPhone Retina */
@media only screen and (max-width : 403px)
  .front
    .btnflip
      position: relative
      top: 17px

  #preloader
    .my
      top: 41%
      left: 41%
      &::before
        font-size: 70px

  .content-karta-master
    .btnflip-item
      top: -15px

  .btnflip-item
    top: 0

  .content-karta-remont
    .btnflip_remont
      .btnflip-item
        top: 0

  .container-karta-stock
    .btnflip-item
      top: -15px

  .container-karta-info
    .btnflip-item 
      top: 20px

  .karta-list-index
    font-size: 15px

  
/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
  .my2::before
    padding: 0

  .header-composition
    p
      margin-top: 10px
      font-size: 11px

  .front
    .btnflip
      position: relative
      top: 52px

  .btnflip-item
    font-size: 11px

  .content-karta-index 
    font-size: 14px

  .btnflip-item
    top: -40px

  .button-start
    margin-top: 30px

  .header-composition
    p
      margin-top: 3px
      font-size: 12px  

  .content-karta-master
    .btnflip-item
      top: -50px

  .content-karta-remont
    .btnflip_remont
      .btnflip-item
        top: -40px

  .content-karta-remont
    .karta-list
      font-size: 11px

  .container-karta-stock
    p
      font-size: 11px

  .container-karta-stock
    .btnflip-item
      top: -2px

  .container-karta-info
    p
      margin-top: 20px

  .container-karta-info
    .btnflip-item
      top: -35px


@media only screen and (max-width : 360px)
  .container-karta-info
    .btnflip-item
      top: -20px

  .header-composition
    p
      font-size: 11.5px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .button
    padding: 10px 15px

  .btnflip
    width: 42%

  .header-composition
    p
      margin-top: 10px
      font-size: 10.5px

  .front
    .btnflip
      position: relative
      top: 20px

  .content-karta-master
    .btnflip-item
      top: 14px
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

